@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';

@plugin "daisyui";


@plugin "daisyui" {
  themes: dim --default;
}


.logo-font {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
